<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-Do List App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h3>To-Do List</h3>
  <form  method="POST">
    <div class="input-section">
    <input type="text" id="new-task" name="task-text" placeholder="Add a new task..." />
    <select name="task-priority" id="task-priority" class="priority-select">
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>
    <button id="add-task-btn">Add Task</button>
    </div>
  </form>
    
    <ul id="task-list">
      {% for task in tasks %}
      <li class="{{ 'completed' if task.get('completed') else '' }} {{ 'priority-' + (task.get('priority')|default('low')) }}">
        <span class="task-text">{{ task['text'] }}</span>
        <span class="priority-indicator">{{ task.get('priority')|default('low')|capitalize }}</span>

        <form action="{{ url_for('main.remove_task', task_id=task['id']) }}" method="POST" style="display:inline">
          <button type="submit" class="remove-link">Remove</button>
        </form>
        <form action="{{ url_for('main.edit_task', task_id=task['id']) }}" method="get" style="display:inline">
          <button type="submit" class="edit-link">Edit</button>
        </form>
      </li>
      {% endfor %}
    </ul>
  </div>

  <script src="todo-script.js"></script>
</body>
</html>
